*{
    box-sizing: border-box;
}

.row{
    display: flex;
}

ul,li,h1,p,h2,h3 {
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: #282832;
}

.date__all{
    font-size: 40px;
    color: #FAEAD4;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 5px;
    margin-bottom: 5%;
}

.shipment{
    background-color: #3B3B45;
    margin-right: 50px;
    min-width: 370px;
}

.shipment__date{
    font-size: 24px;
    color: #FAEAD4;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
}

.shipment__info{
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: center;
}

.week__shipment--title{
    font-size: 24px;
    color: #FAEAD4;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 60px;
}

.week__shipment{
    background-color: #3B3B45;
    min-width: 370px;
    margin-right: 50px;
}

.date__week{
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
}

.week__chart{
    width: 100%;
    min-height: 430px;
    background-color: transparent;
    border: 2px solid #ffffff;
    position: relative;
}

.chart{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    top: 100px;
}

.chart__plan{
    font-size: 18px;
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid green;
    padding-bottom: 5px;
}



.chart__info{
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 10px;
}

.mounth__shipment{
    background-color: #3B3B45;
    min-width: 370px;
}